<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Ammoenio</title>



    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../css/modern-business.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge;chrome=IE8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="css/style.css" type="text/css" rel="stylesheet">
    <link href="http://cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.min.css" rel="stylesheet" type="text/css">
    <script src="../js/bootstrap.min.js"></script>




</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../index.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">

                    <li>
                        <a href="requirements.html">Requirements</a>
                    </li>

                    <li>
                        <a href="research.html">Research</a>
                    </li>

                    <li>
                        <a href="HCI.html">HCI</a>
                    </li>

                    <li>
                        <a href="design.html">Design</a>
                    </li>

                    <li>
                        <a href="testing.html">Testing</a>
                    </li>

                    <li>
                        <a href="Evaluation.html">Evaluation</a>
                    </li>

                    <li>
                        <a href="Management.html">Management</a>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Biweekly Reports<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="portfolio-1-col.html">1st Report</a>
                            </li>
                            <li>
                                <a href="portfolio-2-col.html">2nd Report</a>
                            </li>
                            <li>
                                <a href="portfolio-3-col.html">3rd Report</a>
                            </li>
                            <li>
                                <a href="portfolio-4-col.html">4th Report</a>
                            </li>
                            <li>
                                <a href="portfolio-5-col.html">5th Report</a>
                            </li>
                            <li>
                                <a href="portfolio-6-col.html">6th Report</a>
                            </li>
                            <li>
                                <a href="portfolio-7-col.html">7th Report</a>
                            </li>
                            <li>
                                <a href="portfolio-8-col.html">8th Report</a>
                            </li>
                            <li>
                                <a href="portfolio-9-col.html">9th Report</a>
                            </li>
                            <li>
                                <a href="portfolio-10-col.html">10th Report</a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <a href="contact.html">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Design
                    <small></small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="../index.html">Home</a>
                    </li>
                    <li class="active">Design</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!--<section id="video" class="bg-white">
            <div alignment="middle">
                <iframe style="width: 856px; height: 480px;" src="https://www.youtube.com/embed/JzGSS37tPWg" frameborder="0" allowfullscreen></iframe>
            </div>
        </section>-->

        <br> <br>
        <section>
            <!--<div class=" container">-->
            <h2>System Architecture and Implementation of Key Functionalities</h2>
            <h4>Here you can find out about our system architecture and the way we have implemented the key functionalities</h4>
            <hr>
            <br>
            <h4>
                <p class="c10"><span class="c7 c18">Firebase Database</span></p>
            </h4>
            <p class="c6"><span class="c1"></span></p>
            <p class="c10"><span class="c1">The platform uses Firebase to store information regarding the users and the companies created. This includes login credentials, descriptions and images of companies, names, personal information etc. </span></p>
            <p class="c6"><span class="c1"></span></p>
            <p class="c10"><span class="c1">Furthermore, Firebase is used to store elements necessary for communicating with the blockchain such as the user’s blockchain addresses and the addresses of Company contracts which are assigned to the corresponding companies. </span></p>
            <p class="c6"><span class="c1"></span></p>
            <br>
            <h4>
                <p class="c10"><span class="c18 c7">AngularJS Web Application</span></p>
            </h4>
            <p class="c6"><span class="c1"></span></p>
            <p class="c10"><span class="c1">The web application is the main point of contact with our users providing a robust user interface. Even though the platform is designed in such a way that users can actually do everything using the blockchain directly (eliminating the need for a user interface), the carefully-crafted front-end makes everything much simpler. </span></p>
            <p class="c6"><span class="c1"></span></p>
            <p class="c10"><span class="c1">The web application communicates with the blockchain through the NodeJS server via HTTP POST requests and it supports the whole infrastructure of the contracts, providing the user with very simple tools to perform transactions (without needing to have any blockchain knowledge). The application works fluently and the experience is the same as browsing any other website.</span></p>
            <p class="c6"><span class="c1"></span></p>
            <p class="c10"><span class="c1">The web application retrieves contract addresses from the firebase database (initially provided by the blockchain) and passes them to functions in the NodeJS server which are used to perform operations on the blockchain, such as retrieving and updating values, creating companies, making transactions etc. </span></p>
            <p class="c6"><span class="c1"></span></p>
            <p class="c10"><span class="c1">The web application was created using AngularJS, HTML and CSS.</span></p>
            <p class="c6"><span class="c1"></span></p>
            <p class="c6"><span class="c1"></span></p>
            <p class="c6"><span class="c1"></span></p>
            <br>
            <h4>
                <p class="c10"><span class="c18 c7">TestRPC (RPC Client)</span></p>
            </h4>
            <p class="c11"><span class="c1"></span></p>
            <p class="c27"><span class="c1">TestRPC is a tool that creates a simulated version of the Ethereum Blockchain. TestRPC is a public tool and library, but we are making use of a customised version of this RPC client. We have increased the gas limit from 4 million gas to around 10 million gas and the number of available accounts (wallets) from 10 to 201 (one controller account and 200 that can be used by the users). We have also changed the default ETH balance from 100 ETH (approximately 350 GBP) to approximately 10 000 000 000 ETH (approximately 35 billion GBP) to allow for comprehensive testing and debugging.</span></p>
            <p class="c11"><span class="c1"></span></p>
            <p class="c27"><span class="c1">In the actual project, TestRPC would be replaced by the real Ethereum Blockchain and the use of ETH would be replaced by GBP. ETH would only be used for processing and completing transactions which will take from 5 up to 20 minutes, meaning changes in conversion rate should have almost no effect on the user (we expect no steep changes in a 5-20 minutes time period). Both the user and the company would have GBP balances.</span></p>
            <p class="c6"><span class="c1"></span></p>
            <p class="c6"><span class="c1"></span></p>
            <br>
            <h4>
                <p class="c10"><span class="c18 c7">NodeJS Server Application</span></p>
            </h4>
            <p class="c11"><span class="c1"></span></p>
            <p class="c27"><span class="c1">The NodeJS server application is one of the main components of our project and it is in control of the communication between the web app, the RPC client and the Solidity contracts.</span></p>
            <p class="c11"><span class="c1"></span></p>
            <p class="c27"><span class="c21">First, the server application </span><span class="c21">loads</span><span class="c21 c28"> the contracts (.sol files) into memory</span><span class="c21"> and it parses them using Regex in order to eliminate new lines and comments. The next step</span>
                <span class="c21 c28"> is compiling the contracts using the Solidity Compiler</span><span class="c21"> library </span><span class="c21 c28">(Sol</span><span class="c21">C</span><span class="c21 c28">) to compile them. It then uses the Contracts Creator library (eth-new-contract) to </span>
                <span class="c21">deploy</span><span class="c21 c28"> contracts to the blockchain</span><span class="c21">. The</span><span class="c21 c28"> Web3JS API (</span><span class="c21">Web3 JavaScript Ðapp API)</span><span class="c21 c28"> is then</span>
                <span class="c21"> </span><span class="c21 c28">used to communicate with the </span><span class="c21">R</span><span class="c21 c28">PC </span><span class="c21">client and send, update and retrieve data</span><span class="c1">. </span></p>
            <p class="c11"><span class="c1"></span></p>
            <p class="c27"><span class="c21">Once this initialisation is done, the AngularJS web app is able to use the NodeJS server to communicate with the blockchain, making the server acting as a de facto “bridge” between the two. The communication between the AngularJS web app and the </span>
                <span class="c21 c28">NodeJS server </span><span class="c1">is done via HTTP POST requests (initiated by the web application) which enables sending data back and forth.</span></p>
            <p class="c27"><span class="c21"> </span><span class="c21 c28"> </span></p>
            <p class="c27"><span class="c21">The NodeJS server also initiates its own HTTP GET requests in order to communicate with Coinmarketcap (</span><span class="c21 c22"><a class="c8" href="https://www.google.com/url?q=http://coinmarketcap.com/&amp;sa=D&amp;ust=1493008389494000&amp;usg=AFQjCNHF9NYyeXX-O4bLfqH8i5sslzQSDQ">http://coinmarketcap.com/</a></span>
                <span class="c21">) which provides an API (</span><span class="c21 c22"><a class="c8" href="https://www.google.com/url?q=http://coinmarketcap-nexuist.rhcloud.com/&amp;sa=D&amp;ust=1493008389495000&amp;usg=AFQjCNEx-_wNk-DC0pg8jd7nsxgmEhtfEg">http://coinmarketcap-nexuist.rhcloud.com/</a></span>
                <span class="c1">) for getting the current value of the GBP-ETH exchange rate. This is updated every 5 minutes.</span>
            </p>
            <p class="c11"><span class="c1"></span></p>
            <p class="c11"><span class="c1"></span></p>
            <p class="c27"><span class="c21">The NodeJS server makes use of</span><span class="c1"> JavaScript Promises and asynchronous calls to the blockchain and it does not block itself while waiting for the response from the blockchain. This enables the web app itself to get information in time. The NodeJS application also makes use of asynchronous locks in order to coordinate asynchronous writing and reading of files (specifically the Read-Write Lock provided by the Locks library).</span></p>
            <p class="c11"><span class="c1"></span></p>
            <p class="c27"><span class="c1">The server application also managed some very basic backup so that if it crashes, it can easily reload the connection to the RPC client. When using the real Ethereum Blockchain, this is no longer an issue and backup is not needed.</span></p>
            <p class="c6"><span class="c18 c21"></span></p>
            <p class="c6"><span class="c18 c21"></span></p>
            <br>
            <h4>
                <p class="c10"><span class="c18 c7">Smart Contracts – Blockchain</span></p>
            </h4>
            <p class="c6"><span class="c1"></span></p>
            <p class="c10"><span class="c1">The smart contracts supporting the entire functionality of Ammoenio are divided into six separate contracts:</span></p>
            <p class="c6"><span class="c0"></span></p>
            <ul class="c24 lst-kix_qbrhf9rbnxbz-0 start">
                <li class="c10 c25"><span class="c7">Ammoenio: </span><span class="c1">The master contract, where the web application directly connects. This contract holds an array of created companies, and provides functionality including creating companies and registering users as investors.</span></li>
            </ul>
            <p class="c6"><span class="c0"></span></p>
            <ul class="c24 lst-kix_qbrhf9rbnxbz-0">
                <li class="c10 c25"><span class="c7">Company: </span><span class="c1">A single Company contract represents a particular company. Every time a new company is registered a new contract is created, holding that company’s information. It has all the functions necessary for the company to function, including creating and selling shares, getting the number of shares on the market and registering users as shareholders once they buy shares for the first time.</span></li>
            </ul>
            <p class="c6"><span class="c0"></span></p>
            <ul class="c24 lst-kix_qbrhf9rbnxbz-0">
                <li class="c10 c25"><span class="c7">Shareholder:</span><span class="c1"> A single Shareholder contract represents a user-company relation. When a user buys shares from a company for the first time, a shareholder contract is created which holds information for that particular user and company. The information stored includes number of shares the user has purchased, the company and owner of the contract, number of shares the user is selling as well as the functionality to add a number of shares for sale. The contract is updated on any following purchases.</span></li>
            </ul>
            <p class="c6"><span class="c0"></span></p>
            <ul class="c24 lst-kix_qbrhf9rbnxbz-0">
                <li class="c10 c25"><span class="c7">Investor: </span><span class="c1">A single Investor contract represents a specific user, and it is created every time a user is registered on the website. It holds information for a user’s investments, including the shareholder contracts and companies linked to the user (i.e the companies they are investing in).</span></li>
            </ul>
            <p class="c6"><span class="c1"></span></p>
            <ul class="c24 lst-kix_qbrhf9rbnxbz-0">
                <li class="c10 c25"><span class="c7">InvestorDB: </span><span class="c1">This contract acts as a database or array of storing Investor contracts, so that they can be accessed by the Ammoenio and Company contracts. It is used as an intermediary contract when the other contracts want to update the investor contract after a user invests in a new company.</span></li>
            </ul>
            <p class="c6"><span class="c1"></span></p>
            <ul class="c24 lst-kix_qbrhf9rbnxbz-0">
                <li class="c10 c25"><span class="c7">SafeMath: </span><span class="c1">This contracts consists of safe mathematical functions which check whether the given values are correct when performing a mathematical operation. They are used in the other contracts when a calculation needs to be performed, to protect against any malicious actions (e.g: When buying shares it checks if the number of shares to buy is equal or less than the amount of shares available on the market).</span></li>
            </ul>
            <p class="c6"><span class="c1"></span></p>
            <p class="c10"><span class="c1">The Smart Contracts were created using Ethereum Solidity, and tested using Truffle and TestRPC before being connected to the website and after.</span></p>
            <p class="c6"><span class="c1"></span></p>
            <p class="c6"><span class="c1"></span></p>

        </section>

        <br>

        <section>
            <h2>Server Infrastructure</h2>
            <h4>Here you can read about how we built our server infrastructure and what servies we used.</h4>
            <hr>

            <p class="c6"><span class="c18 c7"></span></p>
            <p class="c10"><span class="c1">We are making use of Digital Ocean’s virtual machine hosting services in order to create a virtual machine (droplet) in which the NodeJS server app and the RPC client are running.</span></p>
            <p class="c6"><span class="c1"></span></p>
            <p class="c10"><span class="c1">The Firebase database is not being stored on the actual server, but on an external Google server (maintained and backed-up by Google). This means that there is no actual data stored on our server. This enables huge scalability if using the real Ethereum Blockchain as we can deploy multiple virtual machines with the NodeJS server app running, without the need to sync data between them, all data being stored in the external database and the Ethereum Blockchain. Digital Ocean also enables us to use load balancers to redirect traffic between these virtual machines if deployed.</span></p>
            <p class="c6"><span class="c1"></span></p>
            <p class="c10"><span class="c1">The domain (ammoenio.trade) is being provided by NameCheap which also provided anonymity of the owner and location of the domain via WhoisGuard.</span></p>
            <p class="c6"><span class="c1"></span></p>
            <p class="c10"><span class="c1">The DNS routing, browser caching (4 hours caches), server caching, encryption, the SSL certificate, HTTPS enforcing, firewall, traffic management, access rules, static pages and DDoS protection is provided by Cloudflare.</span></p>
        </section>

        <br>

        <section>
            <h2>Hardware and Platform Specifications</h2>
            <h4>Here you can find out about which platforms are supported and what are the indicated hardware specifications.</h4>
            <hr>

            <p class="c10"><span class="c1">Client Specifications (provided the app is running externally):</span></p>

            <ul class="c24 lst-kix_prkrn4okcxbq-0 start">
                <li class="c10 c25"><span class="c1">Browser: Chrome 57 or later (There are certain small issues with Firefox, Safari and Internet Explorer that do not fully support certain AngularJS features)</span></li>
                <li class="c10 c25"><span class="c1">Any Operating System</span></li>
                <li class="c10 c25"><span class="c1">Screen Size/Resolution -&gt; Run the browser in Full Screen mode. Minimum width: 1200px. Recommended screen size: 15’ or larger (Minimum full screen: 13’). Recommended aspect ratio: 16:9.</span></li>
            </ul>
            <p class="c6"><span class="c1"></span></p>
            <br>
            <p class="c10"><span class="c1">Server Specifications (for running the project):</span></p>
            <ul class="c24 lst-kix_prkrn4okcxbq-0">
                <li class="c10 c25"><span class="c1">Operating System: Ubuntu 16.04 or later, preferably Ubuntu 16.10 </span></li>
                <li class="c10 c25"><span class="c1">RAM Usage: 450 MB - 700 MB</span></li>
                <li class="c10 c25"><span class="c1">Disk Space: 250-300 MB</span></li>
                <li class="c10 c25"><span class="c1">Active Internet Connection</span></li>
                <li class="c10 c25"><span class="c1">Tools: Git, NodeJS, NPM, Nodemon, Tmux</span></li>
            </ul>
            <p class="c6"><span class="c1"></span></p><br>
            <p class="c10"><span class="c1">Notes on operating systems requirements: TestRPC’s helper libraries are compiled for Debian-Ubuntu Linux. Certain issues have been encountered with Windows 10. Macs should be fully able to run the project provided TestRPC is not used. We have included EtherSim (another RPC client) with the project as well, but we do not recommend using it as it is outdated and has multiple issues.</span></p>
            <p class="c6"><span class="c1"></span></p><br>
            <p class="c10"><span class="c1">For development, debugging and testing we are using a local computer running Ubuntu 16.10 with 8GB of RAM and we strongly recommend a system with the same specifications.</span></p>
            <p class="c6"><span class="c1"></span></p><br>
            <p class="c10"><span class="c1">The virtual machine hosted on the Digital Ocean servers on which we are running our server app accessible at ammoenio.trade has the following specifications: Ubuntu 16.10, 20GB SSD storage, 1 GB RAM. (Allocating only 512 MB has led to the memory manager in Ubuntu killing the server application in almost 50% of cases due to running out of memory while compiling the contracts).</span></p>
            <p class="c6"><span class="c1"></span></p>
            <br>
        </section>


        <br> <br>
        <!-- Sketches -->
        <section>


            <h2>Class Diagram</h2>
            <h4>Here you can explore our class diagram.</h4>
            <hr>
            <br>
            <div class=" about-section container">
                <img style="width: 80%; padding-left:260px" src="../img/diagram/classdiagram.png"> <br>
            </div>
        </section>


        <!-- /Sketches -->
        <br> <br> <br>




        <section>
            <h2>Design Patters</h2>
            <h4>Here you can read about our client and possible companies we could make parterships in the future.</h4>
            <hr>

        </section>

        <br>

        <section>
            <h2>Development Tools</h2>
            <h4>Here you can read about the development tools we have used.</h4>
            <hr>
            <p> We used the following IDEs: Visual Studio Code, Sublime Text. </p>
            <p> To organise our work, especialy our documentation we have used Google Drive, Dropbox and Google Docs. </p>
            <p> For version control we have used Git and GitHub. A tool some of use have used for Git management is GitKraken. </p>
            <p> For testing we have made use of Mocha. </p>
            <p> For development, we have also used the following Blockchain tools: TestRPC, EtherRPC, Truffle. </p>

        </section>


        <hr>

        <!-- Footer -->
        <footer class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Ammoenio 2016-2017</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery 
    <script src="../js/jquery.js"></script>

     Bootstrap Core JavaScript -->


</body>

</html>