<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Ammoenio</title>

    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../css/modern-business.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../index.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">

                    <li>
                        <a href="requirements.html">Requirements</a>
                    </li>

                    <li>
                        <a href="research.html">Research</a>
                    </li>

                    <li>
                        <a href="HCI.html">HCI</a>
                    </li>

                    <li>
                        <a href="design.html">Design</a>
                    </li>

                    <li>
                        <a href="testing.html">Testing</a>
                    </li>

                    <li>
                        <a href="evaluation.html">Evaluation</a>
                    </li>

                    <li>
                        <a href="management.html">Management</a>
                    </li>


                    <li>
                        <a href="contact.html">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">HCI
                    <small></small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="../index.html">Home</a>
                    </li>
                    <li class="active">HCI</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- /.row -->

    <section>
        <div class="about-section container">

            <h2 style="margin: 10px;">HCI</h2>
            <hr>
            <iframe style="width: 856px; height: 480px;" src="https://www.youtube.com/embed/JzGSS37tPWg" frameborder="0" allowfullscreen></iframe>
        </div>

    </section>
    <!--style="background-color: #d3d3d3;"<span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>-->


    <br> <br>


    <br> <br>
    <!-- Sketches -->
    <section>

        <div class=" container">
            <h2>Sketches and Mock-ups</h2>
            <h4>Here you can explore our initial vision of the project's user interface.</h4>
            <hr>
            <div class="row"><img style="width: 100%;" src="../img/sketches/sketch1.png"></div> <br>
            <div class="row"><img style="width: 100%;" src="../img/sketches/sketch2.png"></div> <br>
            <div class="row"><img style="width: 100%;" src="../img/sketches/sketch3.png"></div>
        </div>
    </section>


    <!-- /Sketches -->
    <br> <br> <br>

    <section>
        <div class=" container">
            <h2>HCI Principle</h2>
            <h4>Here you can find out about how we improved our design</h4>
            <hr>
            <p> We held discussions with a number of aproximatly 10-15 of our colleagues (as well as with our client) both in the early stages and in late stages of the project in order to get a better idea of how to improve our design (including the functional
                part, but especially the user interface). This was very useful as we came back a large number of times over the design and improved things.
            </p>
            <p> The largest number of improvements after holding these talks with our colleagues were on the UX side of the project (chaing the design of certain pages), but some of them were on the functional part as well (it helped us finalise our MoSCoW
                type requirements list). </p>
            <br>
        </div>
    </section>


    <br>

    <section>
        <div class=" container">
            <h2>Screenshots</h2>
            <h4>Here you can explore some screenshots from the final version of the app</h4>
            <hr>
            <div class="row"><img style="width: 100%;" src="../img/screenshots/image06.png"></div> <br>
            <div class="row"><img style="width: 100%;" src="../img/screenshots/image08.png"></div> <br>
            <div class="row"><img style="width: 100%;" src="../img/screenshots/image02.png"></div> <br>
            <div class="row"><img style="width: 100%;" src="../img/screenshots/image05.png"></div> <br>
            <div class="row"><img style="width: 100%;" src="../img/screenshots/image07.png"></div> <br>
            <div class="row"><img style="width: 100%;" src="../img/screenshots/sc3.png"></div> <br>
            <div class="row"><img style="width: 100%;" src="../img/screenshots/image01.png"></div> <br>
            <div class="row"><img style="width: 100%;" src="../img/screenshots/sc6.png"></div> <br>
            <div class="row"><img style="width: 100%;" src="../img/screenshots/sc8.png"></div> <br>
            <div class="row"><img style="width: 100%;" src="../img/screenshots/Screen23.png"></div>
        </div>
    </section>
    <br>


    <footer class="container">
        <hr>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Ammoenio 2016-2017</p>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="../js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../js/bootstrap.min.js"></script>

</body>

</html>