<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Ammoenio</title>

    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap-slider.min.css" rel="stylesheet">
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../css/modern-business.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge;chrome=IE8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="css/style.css" type="text/css" rel="stylesheet">
    <link href="http://cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.min.css" rel="stylesheet" type="text/css">

    <!-- Scripts -->
    <script src="../js/jquery.js"></script>
    <script src="../js/bootstrap.min.js"></script>

    <script src="../js/bootstrap-slider.min.js"></script>
    <script src="../js/sliders.js"></script>


</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../index.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">

                    <li>
                        <a href="requirements.html">Requirements</a>
                    </li>

                    <li>
                        <a href="research.html">Research</a>
                    </li>

                    <li>
                        <a href="HCI.html">HCI</a>
                    </li>

                    <li>
                        <a href="design.html">Design</a>
                    </li>

                    <li>
                        <a href="testing.html">Testing</a>
                    </li>

                    <li>
                        <a href="Evaluation.html">Evaluation</a>
                    </li>

                    <li>
                        <a href="Management.html">Management</a>
                    </li>


                    <li>
                        <a href="contact.html">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Requirements
                    <small></small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="../index.html">Home</a>
                    </li>
                    <li class="active">Requirements</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!--<section id="video" class="bg-white">
            <div alignment="middle">
                <iframe style="width: 856px; height: 480px;" src="https://www.youtube.com/embed/JzGSS37tPWg" frameborder="0" allowfullscreen></iframe>
            </div>
        </section>-->

        <br> <br>
        <section>
            <!--<div class=" container">-->
            <h2>Background</h2>
            <h4>Here you can find out what are project is all about</h4>
            <hr>
            <p> Ammoenio (which translates as “invest” from Latin) is an online platform used for share-trading based crowdfunding and built with Blockchain technology. It helps individuals get into the share-trading business whilst it allows start-ups and
                small businesses fund their projects by selling part of their shares in the business to individuals willing to invest into it.
            </p>
            <br>
            <p> The app offers three main components: starting projects and issuing shares, investing into companies (buying shares), trading of shares between individuals. Using Smart Contract functionality, the full investor related process is automated
                including the issuing and processing of dividend payments, AGM voting and future rights issues.
            </p>
            <br>
            <p> Combining so many features, Ammoenio is the ultimate tool for disrupting conventional business models and the share-trading markets whilst also bringing innovation like never seen before into the way companies are being run.
            </p>
            <!--</div>-->
        </section>

        <br>

        <section>
            <h2>Client and Possible Future Parteners</h2>
            <h4>Here you can read about our client and possible companies we could make parterships in the future.</h4>
            <hr>

            <div class="row">
                <div class="col-sm-4">
                    <img style="width: 50%;" src="../img/about/atoslogo.jpg">
                </div>
                <div class="col-sm-8">
                    <br> <br>
                    <p> Atos Int. has been our client for this project. We have communicated with them through Mr. John Hall, Head of Strategy & Portfolio at Atos International, as well as though Mr. Mike Smith, the Chief Technology Officer at Atos. </p>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-sm-4">
                    <img style="width: 50%;" src="../img/about/digitalocean.png">
                </div>
                <div class="col-sm-8">
                    <br>
                    <p> Digital Ocean is our provider of hosting services. A partership with them would be beneficial in the future so that we could deploy multiple virtual machines at the same time with several load balancers redirecting trafic between the
                        servers.
                    </p>
                </div>
            </div>

            <br> <br>

            <div class="row">
                <div class="col-sm-4">
                    <img style="width: 50%;" src="../img/about/cloudflare.png">
                </div>
                <div class="col-sm-8">

                    <p> Cloudflare is our provider of DNS routing and SSL certificates. Cloudflare also provies us encryption, firewall, traffic management, access rules, static pages and DDoS protection. A partership with Cloudflare would be advantegous
                        for Ammoenio once we start using multiple virtual machines.</p>
                </div>
            </div>

        </section>

        <br> <br> <br>

        <section>
            <!--<div class=" container">-->
            <h2>The Problem</h2>
            <h4>Here you can find out what are the problems Ammoenio is aiming to solve</h4>
            <hr>
            <p> We live in world of entrepreneurship and ideas. More and more young people are looking to bring their ideas to life and start their own businesses. Unfortunately, many start-up initiatives lack the funding they need to actually get started.
                While crowdfunding through donations already exists, most people do not want to invest dozens or hundreds of pounds just to have their name written somewhere. That is why most donations are very low and if not enough people are interested
                in donating, many fundings either fail short of achieving their goal or have to set quite some modest goals.
            </p>
            <br>
            <p>
                Equity crowdfunding changes all of that. Through Ammoenio, individuals get their own shares into the business which will later generate income either through dividends or through the sale of shares, whilst also having voting rights (dependent on the amount
                of owned shares) into the decisions of that company. Individuals are therefore much more interested in investing and companies have much higher chances of gathering the required money and achieving their goals.
            </p>
            <br>
            <p> The reason why individuals want to invest into companies and buy shares is quite simple: because it is one the best ways to save money whilst also making a profit out of them (according to moneyexpert.com and citizensadvice.org.uk). We live
                in a world where extremely low bank deposits interest rates are making people having to look for new ways to save money. The best way to do that is investing. Compared to traditional saving through bank deposits, investing has its risks,
                but if the company is successful, the financial rewards will be very large and more than worth the risk. That is why the best practice when investing is to invest in multiple companies.
            </p>
            <br>
            <p> For those individuals wanting to invest into a company, but are afraid of investing in start-ups, Ammoenio also allows buying shares into already existent and running companies. This means a much lower risk of losing the investment, but also
                a smaller income for the individual.
            </p>
            <br>
            <p> Once the individual has acquired some shares, he/she will make an income each time dividends are issued. Dividends will grant each individual an income from the profit of the company proportional to the number of shares they own.
            </p>
            <br>
            <p> If waiting for dividends is not the individual’s preferred way of generating income, he/she can also use the share-trading feature. This way, the individual buys a share when its value is down while anticipating an increase in value at a later
                date. Selling the share at a higher value will generate income for the individual, while when owning that share, the individual also gets income from any dividends issued by the company. To help with this second way of generating income,
                Ammoenio provides users with tools that enable them to see how the value of the shares is changing over time. This will allow users to know when is the best time to buy a share and when to sell it.
            </p>

            <!--</div>-->
        </section>

        <br>

        <section>
            <h2>Requirements Gathering</h2>
            <h4>Here you can find out about how we gathered the requirements</h4>
            <hr>
            <p> First stage was researching the Blockchain technology and its possible uses. This took us about 2-3 weeks and it allowed us to get a much better understanding of what Blockchain is, how the technology works and where it can be applied, but
                also which are the current problems on the market relating to blockchain.
            </p>
            <br>
            <p> Next we started brainstorming and comming up with a diverse range of ideas over a period of 3 weeks which we presented to our client. </p>
            <br>
            <p> Finally, both us and our client decided on an idea: Ammoenio. This was done after resaerching the market, looking at problems, looking at possible competitors (such as Seedrs and CrowdCube).
            </p>
            <br>
            <p> We have then continued to update our requirements depending on the seconds stage of research we have done and after talks with our client and with our TA.
            </p>
            <br>
            <p> We have also held discussions with a number of aproximatly 10-15 of our colleagues both in the early stages and in late stages of the project in order to get a better idea of how our design should look like. This was very useful as we came
                back a large number of times over the design and improved things.
            </p>
            <br>
        </section>


        <!-- Requirements -->
        <section>
            <h2>
                MoSCoW Method
            </h2>
            <hr>

            <p> (I) = Requirements for investor users </p>
            <p> (B) = Requirements for business users </p>
            <p> (F) = Functional requirements</p>
            <p> (N) = Non-functional requirements </p>

            <br>

            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Must Have</th>
                            <th>Should Have</th>
                            <th>Could Have</th>
                            <th>Would Have</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>(B) (F) The ability to create companies and issue initial shares.</td>
                            <td>(I) (F) Ability to trade shares between investors.</td>
                            <td>(F) Real time conversion mechanism from GBP to ETH and back.</td>
                            <td>(I) (F) The ability to vote in company decisions.</td>
                        </tr>
                        <tr>
                            <td>(I) (N) See all the user's investments in one place.</td>
                            <td>(B) (F) Ability to issue more shares.</td>
                            <td>(N) Use caching so that website loads faster.</td>
                            <td>(B) (F) The ability to issue dividents.</td>
                        </tr>
                        <tr>
                            <td>(B) (N) See all the user's companies in one place.</td>
                            <td>(N) Deploy website on the World Wide Web.</td>
                            <td>(N) Use SSL ceriticates.</td>
                            <td>(I) (F) The possibility to buy different kinds of stocks such as preferential shares or convertible shares.</td>
                        </tr>
                        <tr>
                            <td>(I) (F) Browse through companies on the platform.</td>
                            <td></td>
                            <td>(N) Enforce HTTPS connections.</td>
                            <td>(N) Different types of business models such as reverse vesting.</td>
                        </tr>
                        <tr>
                            <td>(N) Easy to access and see company data.</td>
                            <td></td>
                            <td>(N) Get our own domain name.</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>(N) All trannsactions should be done via Blockchain and smart contracts using Ether (ETH) so that data is immutable, safe and secure.</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>(N) Interactive, responsive, easy to use interface.</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </section>
        <!-- /Requirements -->



        <section>
            <h2>Personas</h2>
            <h4>Here you can read about our proposed personas.</h4>
            <hr>

            <div class="row">
                <div class="col-sm-4">
                    <h3>The Business User</h3>
                    <img style="width: 100%;" src="../img/personas/business_user.jpg">
                    <em>"I want to start my own technology company!"</em>
                    <br><br>
                    <strong>Motivation</strong>
                    <p>This young adult wishes to start his own company, but does not have the funds to do so. They have looked around for sponsors but could not convince anyone that their million-dollar idea would work. He wants to find a way to collect
                        money to found his company in a secure way which will not give him restrictions.</p>
                </div>
                <div class="col-sm-4">
                    <br> <br>
                    <strong>Name: </strong>
                    <p>Thom Griffin</p>
                    <strong>Age: </strong>
                    <p>26</p>
                    <strong>Occupation: </strong>
                    <p>Entrepreneur</p>
                    <br>

                    <strong>Goals</strong>
                    <ul>
                        <li>Found a company</li>
                        <li>Raise funds for his company</li>
                        <li>Show his business to the world</li>
                        <li>Use a secure system for crowdfunding</li>
                    </ul>

                    <strong>Frustrations</strong>
                    <ul>
                        <li>Finding money is very difficult</li>
                        <li>Can't get any sponsors</li>
                        <li>Does not know of another way to raise money</li>
                    </ul>

                    <p>
                </div>
                <div class="col-sm-4">
                    <br> <br>
                    <img style="width: 100%;" src="../img/personas/Slider_Set_01.png">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-4">
                    <h3>The Investor</h3>
                    <img style="width: 100%;" src="../img/personas/investor_user.jpg">
                    <em>"I was always interesting in buying shares, but the fees are too expensive"</em>
                    <br><br>
                    <strong>Motivation</strong>
                    <p>Carla wants to invest in companies in return for shares, but she is held back by the expensive cost of share-trading. She also wishes to help small businesses grow if she can, while having a percentage of the company herself.</p>
                </div>
                <div class="col-sm-4">
                    <br> <br>
                    <strong>Name: </strong>
                    <p>Carla Johnson</p>
                    <strong>Age: </strong>
                    <p>30</p>
                    <strong>Occupation: </strong>
                    <p>Freelancer</p>
                    <br>

                    <strong>Goals</strong>
                    <ul>
                        <li>Invest in companies</li>
                        <li>Help small companies grow</li>
                        <li>Discover companies that fit her interests</li>
                        <li>Maintain her anonymity when investing in companies</li>
                    </ul>

                    <strong>Frustrations</strong>
                    <ul>
                        <li>Buying shares is expensive</li>
                        <li>Finds it difficult to discover companies that interest her</li>
                        <li>Has tried other crowd-funding websites but does not like them.</li>
                    </ul>

                    <p>
                </div>
                <div class="col-sm-4">
                    <br> <br>
                    <img style="width: 100%;" src="../img/personas/Slider_Set_02.png">
                </div>
            </div>

        </section>

        <br><br>

        <section>
            <h2>User Cases</h2>
            <h4>Here you can read about how each type of user can use our platform</h4>
            <hr>

            <p>Ammoenio has two primary use cases. It targets both individuals who want to get into the share-trading business and start-ups or small businesses that wish to fund their projects by selling part of their business’s shares to individuals willing
                to invest into it.
            </p>
            <br>

            <h3> Investors </h3>
            <br>

            <p>
                Users who want to invest can sign up with an investor account. From there, the user can browse the website to see which companies are available on the platform, either from the dashboard or by searching for a specific company. Clicking on a company, the
                user can see information about it including number of shares available for sale, legal documents, what kind of business it is and more.
            </p>
            <br>
            <p>
                A user can choose to buy shares for a specific company by specifying the amount of money (in British Pounds) they want to spend. The platform then calculates how many shares the user can buy with that amount of money, also showing how much the gas transaction,
                pounds (GBP) to Ether (ETH) conversion and Ammoenio commission will cost. If the user confirms, the purchase is performed and the blockchain is updated with new values, providing the user with the purchased shares.
            </p>
            <br>
            <p>
                An investor then has the ability to make their shares public by putting them on the market for sale. By going to the “My Investments” section and choosing a company the user has invested in, they have an option to specify the number of shares they want
                to sell. This will appear under the company’s profile when another user previews it, providing the option to buy shares both directly from the company and from other users.
            </p>
            <br>





            <h3>Business Owners</h3>
            <br>

            <p>
                Users who wish to start their own business and fund it using our platform can sign up with a business account. From there they can create a new company profile, by providing information such as name, description, legal documents, proof of existence, number
                of shares they want to start with etc. The company will then be created on the blockchain and will be displayed on the dashboard.
            </p>
            <br>
            <p>The owner of the company can then create more shares if they want, which means the proportion of shares/company ownership will change. Furthermore, an owner can buy shares from their own company which will be registered as ‘Director Shares’.
                We allow a business user to create multiple companies on Ammoenio if they wish to.
            </p>
            <br>


        </section>





        <hr>

        <!-- Footer -->
        <footer class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Ammoenio 2016-2017</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery 
    <script src="../js/jquery.js"></script>

     Bootstrap Core JavaScript -->


</body>

</html>