<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Ammoenio</title>

    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../css/modern-business.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../index.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">

                    <li>
                        <a href="requirements.html">Requirements</a>
                    </li>

                    <li>
                        <a href="research.html">Research</a>
                    </li>

                    <li>
                        <a href="HCI.html">HCI</a>
                    </li>

                    <li>
                        <a href="design.html">Design</a>
                    </li>

                    <li>
                        <a href="testing.html">Testing</a>
                    </li>

                    <li>
                        <a href="Evaluation.html">Evaluation</a>
                    </li>

                    <li>
                        <a href="Management.html">Management</a>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Biweekly Reports<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="portfolio-1-col.html">1st Report</a>
                            </li>
                            <li>
                                <a href="portfolio-2-col.html">2nd Report</a>
                            </li>
                            <li>
                                <a href="portfolio-3-col.html">3rd Report</a>
                            </li>
                            <li>
                                <a href="portfolio-4-col.html">4th Report</a>
                            </li>
                            <li>
                                <a href="portfolio-5-col.html">5th Report</a>
                            </li>
                            <li>
                                <a href="portfolio-6-col.html">6th Report</a>
                            </li>
                            <li>
                                <a href="portfolio-7-col.html">7th Report</a>
                            </li>
                            <li>
                                <a href="portfolio-8-col.html">8th Report</a>
                            </li>
                            <li>
                                <a href="portfolio-9-col.html">9th Report</a>
                            </li>
                            <li>
                                <a href="portfolio-10-col.html">10th Report</a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <a href="contact.html">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Research
                    <small></small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="../index.html">Home</a>
                    </li>
                    <li class="active">Research</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- /.row -->


    <!--style="background-color: #d3d3d3;"<span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>-->
    <section>
        <br><br><br>
        <div class=" container">

            <h2 style="margin: 10px;">APIs <i class="fa fa-cubes" aria-hidden="true"></i></h2>
            <hr>
            <h4> Web3JS API (Web3 JavaScript Ðapp API) [1] </h4>
            <p>Web3JS enables communication between the NodeJS server and the Ethereum Blockchain/RPC client.</p>
            <br>
            <h4> CoinMarketCap API [2] </h4>
            <p>This API is used for getting the conversion rate for ETH-GBP in real time.</p>

        </div>
    </section>

    <section>
        <br><br><br>
        <div class=" container">

            <h2 style="margin: 10px;">Tools <i class="fa fa-cogs" aria-hidden="true"></i></h2>
            <hr>
            <h4> TestRPC [3] </h4>
            <p>TestRPC is a tool that creates a simulated version of the Ethereum Blockchain. TestRPC is a public tool and library, but we are making use of a customised version of this RPC client. We have increased the gas limit from 4 million gas to around
                10 million gas and the number of available accounts (wallets) from 10 to 201 (one controller account and 200 that can be used by the users). We have also changed the default ETH balance from 100 ETH (approximately 350 GBP) to approximately
                10 000 000 000 ETH (approximately 35 billion GBP) to allow for comprehensive testing and debugging.
            </p>
            <p>In the actual project, TestRPC would be replaced by the real Ethereum Blockchain and the use of ETH would be replaced by GBP. ETH would only be used for processing and completing transactions which will take from 5 up to 20 minutes, meaning
                changes in conversion rate should have almost no effect on the user (we expect no steep changes in a 5-20 minutes time period). Both the user and the company would have GBP balances.
            </p>
            <br>
            <h4> Nodemon [4] </h4>
            <p>We used nodemon for running the server application. This enables easy restarting of the server in case of crashing due to an error.
            </p>
            <br>
            <h4> Digital Ocean Droplets [5] </h4>
            <p>Digital Ocean’s virtual machine (droplet) hosting services were used to host our application.
            </p>
            <br>
            <h4> Cloudflare [6] </h4>
            <p>The DNS routing, browser caching (4 hours caches), server caching, encryption, the SSL certificate, HTTPS enforcing, firewall, traffic management, access rules, static pages and DDoS protection is provided by Cloudflare.
            </p>

        </div>
    </section>

    <section>
        <br><br><br>
        <div class=" container">

            <h2 style="margin: 10px;">Frameworks <i class="fa fa-bolt" aria-hidden="true"></i></h2>
            <hr>
            <h4> AngularJS [7] </h4>
            <p>Angular is a JavaScript framework that allows for $scope variables and, therefore, a direct interaction with the DOM. We chose this framework because of its fast and simple connection with the Firebase database through the AngularFire library.
            </p>

        </div>
    </section>

    <section>
        <br><br><br>
        <div class=" container">

            <h2 style="margin: 10px;">Libraries <i class="fa fa-book" aria-hidden="true"></i></h2>
            <hr>
            <h4> Zeppelin Solidity / OpenZeppelin [8] </h4>
            <p>We based our smart contracts on the Zeppelin Solidity library to ensure that they were safe. Zeppelin Solidity is a library for writing secure Smart Contracts on Ethereum. The library allows you to build distributed applications, protocols
                and organizations using common contract security patterns (See Onward with Ethereum Smart Contract Security) in the Solidity language.
            </p>
            <br>
            <h4> Bootstrap [9] </h4>
            <p>We used bootstrap on the front end to facilitate some design processes. This library provides css classes for different elements (eg. buttons, forms etc.).
            </p>
            <br>
            <h4> Angular Fire [10] </h4>
            <p>Angular Fire is a powerful Angular JS library that make querying the Firebase database easier. With simple methods such as $firebaseObject() and $firebaseArray(), we could easily store database information in $scope variables, ready to use
                in the AngularJS logic and in the HTML front-end.
            </p>
            <br>
            <h4> ExpressJS [11] </h4>
            <p>ExpressJS was used for routing and HTTP requests handling. ExpressJS is essential for communicating with the AngularJS web app.
            </p>
            <br>
            <h4> Solidity Compiler (SolC) [12] </h4>
            <p>SolC was used for compiling the contract after parsing them
            </p>
            <br>
            <h4> Contracts Creator (eth-new-contract) [13] </h4>
            <p>Eth-new-contract is used for deploying contracts to the Blockchain/RPC client via the Web3JS API.

            </p>
            <br>
            <h4> Locks [14] </h4>
            <p>Locks are Asynchronous locks used for locking reading and writing of files.
            </p>
            <br>
            <h4> Body-parser [15] </h4>
            <p>Body-parser is a parsing middleware used for JSON parsing of the date in the HTTP requests.
            </p>


        </div>
    </section>

    <section>
        <br><br><br>
        <div class=" container">

            <h2 style="margin: 10px;">References <i class="fa fa-bookmark" aria-hidden="true"></i></h2>
            <hr>

            <a target="_blank" href="https://github.com/ethereum/web3.js/">[1] https://github.com/ethereum/web3.js/</a> <br>
            <a target="_blank" href="http://coinmarketcap-nexuist.rhcloud.com/">[2] http://coinmarketcap-nexuist.rhcloud.com/</a> <br>
            <a target="_blank" href="https://github.com/ethereumjs/testrpc ">[3] https://github.com/ethereumjs/testrpc </a> <br>
            <a target="_blank" href="https://github.com/remy/nodemon">[4] https://github.com/remy/nodemon</a> <br>
            <a target="_blank" href="https://www.digitalocean.com/">[5] https://www.digitalocean.com/</a> <br>
            <a target="_blank" href="www.cloudflare.com/‎ ">[6] www.cloudflare.com/‎ </a> <br>
            <a target="_blank" href="https://angularjs.org/https://github.com/ethereum/web3.js/">[7] https://angularjs.org/</a> <br>
            <a target="_blank" href="https://github.com/OpenZeppelin/zeppelin-solidity">[8] https://github.com/OpenZeppelin/zeppelin-solidity</a> <br>
            <a target="_blank" href="http://getbootstrap.com/ ">[9] http://getbootstrap.com/ </a> <br>
            <a target="_blank" href="https://github.com/firebase/angularfire">[10] https://github.com/firebase/angularfire</a> <br>
            <a target="_blank" href="https://www.npmjs.com/package/express">[11] https://www.npmjs.com/package/express</a> <br>
            <a target="_blank" href="https://github.com/ethereum/solc-js">[12] https://github.com/ethereum/solc-js</a> <br>
            <a target="_blank" href="https://github.com/raineorshine/eth-new-contract ">[13] https://github.com/raineorshine/eth-new-contract </a> <br>
            <a target="_blank" href="https://www.npmjs.com/package/locks">[14] https://www.npmjs.com/package/locks</a> <br>
            <a target="_blank" href="https://www.npmjs.com/package/body-parser ">[15] https://www.npmjs.com/package/body-parser </a> <br>



        </div>
    </section>





    <footer class="container">
        <hr>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Ammoenio 2016-2017</p>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="../js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../js/bootstrap.min.js"></script>

</body>

</html>